.playarea
{

width: 70%;
 height: 80vh;
 float: left;
 box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.1);
 background: linear-gradient(#fff,#f2f2f2) #ccc;

 background: none;
 transform: translate3d(0, 0, 0);
 animation: bounce;
 animation-duration: 10s;
 animation-direction : normal;
 animation-iteration-count: infinite;
}
.scoreboard
{
 width: 30%;
 height: 80vh;
 float: left;
}
@keyframes bounce {
    50% { transform: translate3d(0, 60vh, 0);   }
    100% { transform: translate3d(0, 0, 0);   }
   }
